* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  padding: 50px auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.post-items {
  display: flex;
  justify-content: center;
}

.content {
  width: 300px;
  margin: 50px 30px 50px 0;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
}

.content:last-child {
  margin-right: 0;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #ff9a4b;
}

.image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
}

.image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: center;
}

.image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: center;
}


h3 {
  padding: 15px 0 5px 0;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    margin: 50px 5%;
  }

  .post-items {
    display: block;
  }

  .content {
    width: 90%;
    margin: 0 0 20px 0;
  }

  .image1, .image2, .image3 {
    background-size: cover;
    background-position: bottom;
  }

}